<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mds.ufscar.br.ssunb" >

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="android.app.default_searchable"
            android:value=".app.Search" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BookPage"
            android:label="@string/book_page" >
        </activity>
        <activity
            android:name=".CadastroActivity"
            android:label="@string/title_activity_cadastro"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".HomeUsuarioActivity"
            android:label="@string/title_activity_home_usuario"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".SugestaoCadastroLivro"
            android:label="@string/title_activity_sugestao_cadastro_livro"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".LivrosUsuarioActivity"
            android:label="@string/title_activity_livros_usuario"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".Search"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".HomeColaborador"
            android:label="@string/title_activity_home_colaborador"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PaginaEmprestimo"
            android:label="@string/title_activity_pagina_emprestimo"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name=".PaginaListagemUsuarios"
            android:label="@string/title_activity_pagina_listagem_usuarios"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest> <!-- android:theme="@android:style/Theme.Holo.Light" > -->
